<html xmlns="http://www.w3.org/1999/html">

<body>
<form method="post"  action="/sign">
<h2>学号: <input id="subject" type="text" placeholder="学号" name="number"></h2>
<h2>密码: <input id="subject" type="password"  placeholder="密码" name="password"></h2>
<h2> <button type="submit" >提交</button></h2>
</form>
</body>
</html>